@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama-nueva');
*{
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* default style */
.display-flex{
  display: flex;
}
.nav-item{
  list-style: none;
  margin-right: 30px;

}
.nav-item, a{
  text-decoration: none;
  color: white;

}
/* navbar */
.nav-bar{
  width: 90%;
  height: 12vh;
  display: flex;
justify-content: space-between;
align-items: center;
}
.nav-options span{
  background-color:rgb(230, 83, 60);
  border-radius:1rem ;
  padding: 5px 15px;
}
.nav-options{
  display: flex;
  gap: 1rem;
  font-weight: 700;
  border: 1px solid rgb(63, 61, 61);
  border-radius: 2rem;
  padding: 10px 12px;
  
}
.head-name{
  margin-left: 10rem;
  font-weight: 700;
  font-size: 2rem;
  color: rgb(230, 83, 60);
}
.ham-berger{
  color: white;
  display: none;
}
/* banner style start here */
.banner{
  max-width: 100%;
  height:100%;
  /* border: 2px solid red; */
  background:linear-gradient(to bottom, #000000, #434343, #222121);
  
}
.banner-container{
  height: 42vh;
  width: 84%;
  margin: auto;
  display: flex;
  justify-content:space-evenly;
 
}
.banner-content{
  width: 54%;
  height: 43vh;

}
.banner-content h1{
  color:#fff;
  font-weight: 700;
  font-size: 4.1rem;
  
}
.banner-content p{
  font-size: 0.9rem;
  color: rgba(255,255,255,0.5);
  margin-top: 1.3em;

}
.join-btn{
  margin-top: 20px;
  padding: 12px 45px;
  border-radius: 30px ;
  background: rgb(230, 83, 60); 
  color: #fff;
  font-weight: bolder;
  font-size: 10px;
  border: none;
}
.dwn-btn{
  margin-top: 20px;
  padding: 10px 45px;
  border-radius: 30px ;
  margin-left:15px;
  color:#fff;
  background:none;
  border:1px solid rgb(255, 255, 255);
  font-size: 10px;
  font-weight: bolder;
  
}
.banner-right-content{
  height:42vh;
  width: 45%;
  position: relative;

}
.banner-right-content img{
  height: 42vh;
  width: 258px;
  position: relative;
  left: 50%;
}
.card-1 {
  max-width: 135px;
  height: 70px; 
  background-color: #434343e5;
  position: relative;
  bottom: 19.8em;
  left: 31.5em;
  border-radius: 8px;
  
}
.card-1 h3{
  color:#fff;
  font-size: 2.2rem;
  font-weight: bolder;
  padding-left: 12px;
  margin-top: 10px;
}
.card-1 h3{
  /* padding-left: 10px; */
  padding-top:15px 5px;
  margin-top: 5px;
}
.card-1 p{
 color: rgba(255,255,255,0.5);
 font-size: 0.7rem;
 padding-left: 15px;
}
.card-2{
   width: 156px;
   height: 75px;
  border-radius: 8px;
  background-color: #434343db;
  position: relative;
  bottom: 12em;
  left: 16.7em;
}
.card-2 h3{
  color: #fff;
  font-size: 1.8rem;
  font-weight: bolder;
  padding-left: 3.5rem;
  padding-top: 10px;
}
.card-2 p{
  font-size: 0.8rem;
  color:rgba(255,255,255,0.5); 
  padding-left: 3.6rem;
  padding-bottom: 10px;
}
.rounded-ellips{
  width: 30px;
  height: 30px;
  position: absolute;
  top:23px;
  left: 15px;
  border-radius: 50%;
  background-color: rgb(230, 83, 60);
}
/* your habbits style start here  */
.main-container{
  background-color: #000000;
  height: 230vh;
}
.habbits-container{
  width: 100%;
}
.habbits-header{
  height: 9vh;
  width: 120vh;
  text-align: center;
  color: #fff;
  margin: auto;
  padding-top: 25px;
}
.habbits-header p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  margin-top: 10px;
}
.habbits-card-container{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;

}
.habbits-card-1{
  width: 22vh;
  height:27vh;
  margin-top: 50px;
  text-align: center;
}
.habbits-card-1 img {
  border-radius: 50%;
}
.box h3{
  color:#fff;
  margin-top: 8px;
}
.box p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  margin-top: 5px;
}
/* your habbits style ends here */
/* run extra section satyle strt here */
.run-extra-container{
  width: 100%;
  height: 510px;
}
.run-extra-content{
  width: 80%;
  height: 340px;
  margin: auto;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
}
.run-extra-left{
  width:50%;

 
}
.run-extra-left h3{
  font-size: 3rem;
  font-weight: 700;
  margin-top: 10px;
  color: #fff;
}
.run-extra-left p{
  width: 385px;
  font-size: 15px;
  line-height: 20px;
  color:rgba(255, 255, 255, 0.5);
  margin-top: 1em;
}
.run-extra-left button {
  padding: 12px 60px;
  border-radius: 20px;
  border: none;
  background-color: rgb(230, 83, 60);
  color: #fff;
  margin-top: 1.5rem;
  font-size: 12px;
  font-weight: bolder;

}
.run-extra-right{
  height: 290px;
  width: 45%;

}
.run-extra-right img{
  width: 295px;
  height: 285px;
  border-radius: 10px;
  position: absolute;
  right: 13em;
  margin-top: 5px;
  
}
/* run extra section satyle ends here */
/* bmi header style start here */
.bmi-header{
  width :70%;
  height: 150px;
  color: #fff;
  margin: auto;
  margin-right: 50px;
}
.bmi-content{
  /* width:700px; */
  margin-top: 40px;

}
.bmi-content h3{
  font-size: 2.5rem;
  font-weight: bold;
}
.bmi-content p{
  width: 645px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;

}
/* bmi header style ends here */
/* bmi chart start here */
.bmi-chart-container{
    width: 100%;
    height: 420px;
    background-color: rgb(34, 34, 34);
    margin-top:50px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bmi-chart-left{
  width:30%;
  padding: 50px ;
}
.bmi-chart-left h3{
  font-size: 25px;
  color: #fff;
}
table{
  border-collapse: collapse;
  margin-top: 30px;
}
 th, td{
  width: 160px;
  height: 45px;
  border:1px solid rgb(91, 86, 86) ;
  padding-left: 15px;
}
tbody{
  color: rgba(255, 255, 255, 0.5);
}
.table-head{
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.bmi-chart-right{
  width: 45%;
  padding: 50px;
}
.bmi-chart-right h3{
  font-size: 25px;
  color:#fff;
}
.bmi-chart-right p{
  width: 410px;
  margin-top: 20px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);

}
.bmi-chart-form{
  width: 480px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  margin-top: 45px;
  border-radius: 20px;
 
}
input, select{
  border-radius: 8px;
  border: none ;
  background-color: rgba(255, 255, 255, 0.1);
  color: #d2cfcf84;
}
#activity-factor{
  height: 35px ;
  grid-column: span 2;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}
.bmi-chart-btn{
  padding: 10px 55px;
  border-radius: 20px;
  border: none;
  background-color: rgb(230, 83, 60);
  color: #fff;
  margin-top: 20px;
}
/* bmi chart ends here */
/* team section style start here */
.team-main{
  width:70%;
  height: 662px;
  margin: 0 auto;
  margin-top: 50px;
}
.team-header h3 {
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
}
.team-header p{
  width: 640px;
  text-align: center;
  color:rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin-left: 21em;
  margin-top: 15px;
}
.team-container{
  width:71%;
  height: 511px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns:repeat(3,1fr) ;
  position: relative;
  border-radius: 20px;
}
.team-card-1{
  height: 230px;
  width: 280px;
  background-image: url(./images/trainer1.png);
  background-position: center;
  background-size: cover;
  margin: 15px 15px;
  border-radius: 10px;
  
}
.team-card-2{
  height: 230px;
  width: 280px;
  background-image: url(./images/trainer2.png);
  background-position: center;
  background-size: cover;
  margin: 15px 0px;
  border-radius: 10px;
}
.team-card-3{
  height: 230px;
  width: 280px;
  background-image: url(./images/trainer3.png);
  background-position: center;
  background-size: cover;
  margin: 15px 0px ;
  border-radius: 10px;
}
.team-card-4{
  height: 230px;
  width: 280px;
  background-image: url(./images/trainer4.png);
  background-position: center;
  background-size: cover;
  margin: 0px 15px;
  border-radius: 10px;
}
.team-card-5{
  height: 230px;
  width: 280px;
  background-image: url(./images/trainer5.png);
  background-position: center;
  background-size: cover;
  margin: 3px 0px;
  margin-bottom: 14px;
  border-radius: 10px;
}
.team-card-6{
  height: 230px;
  width: 280px;
  background-image: url(./images/trainer6.png);
  background-position: center;
  background-size: cover;
  margin: 0px 2px;
  border-radius: 10px;
  
} 
.team-card-1 p{
  position: absolute;
  top:  13em;
  color: rgba(181, 175, 175, 0.8);
  margin-left: 25px;
}
.team-card-1 h3{
  color: #fff;
  position: absolute;
  top:10em;
  margin-left: 25px;
}
.team-card-2 p{
  position: absolute;
  top:  13em;
  color: rgba(181, 175, 175, 0.8);
  margin-left: 25px;

}
.team-card-2 h3{
  color: #fff;
  position: absolute;
  top:10em;
  margin-left: 25px;
}
.team-card-3 p{
  position: absolute;
  top:  13em;
  color: rgba(181, 175, 175, 0.8);
  margin-left: 25px;

}
.team-card-3 h3{
  color: #fff;
  position: absolute;
  top:10em;
  margin-left: 25px;
}
.team-card-4 p{
  position: absolute;
  bottom: 2em;
  color: rgba(181, 175, 175, 0.8);
  margin-left: 25px;
}
.team-card-4 h3{
  color: #fff;
  position: absolute;
  bottom:3em;
  margin-left: 25px;
}
.team-card-5 p{
  position: absolute;
  bottom: 2em;
  color: rgba(181, 175, 175, 0.8);
  margin-left: 25px;
}
.team-card-5 h3{
  color: #fff;
  position: absolute;
  bottom:3em;
  margin-left: 25px;
}
.team-card-6 p{
  position: absolute;
  bottom: 2em;
  color: rgba(181, 175, 175, 0.8);
  margin-left: 25px;
}
.team-card-6 h3{
  color: #fff;
  position: absolute;
  bottom:3em;
  margin-left: 25px;
}
/* team section style ends here */
/* footer section style start here here */
.footer-main{
  width: 100%;
  height: 40vh;
  background-color: rgba(1, 1, 1, 0.889);
}
.footer-content{
  width: 80%;
  height: 60%;
  margin: 0 auto;
  display: flex;

}
.footer-left-content{
  color: white;
  width:40%;
  height: 300px;
  margin-left: 90px;
  margin-top: 50px;
}
.footer-left-content h3{
  font-size: 4rem;
  font-weight: bold;
  color: rgb(230, 83, 60);
  margin-left: 70px;
}
.footer-left-content p{
  width: 395px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 15px;
  margin-left: 70px;
}
.footer-right-content{
  width:45%;
  height:310px;
  display: flex;
  flex-direction: row;
  gap: 9em;
  margin: 0 auto;
  margin-top: 50px;
  
}
.child-1{
  width:160px;
  margin-left: 25px;
}
.child-1 h4{
  color: #fff;
  font-size: 22px;
  margin-bottom: 10px;
}
.child-1 ul li{
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 18px;
}
.child-2{
  width: 160px;
}
.child-2 h4{
  color: #fff;
  font-size: 22px;
  margin-bottom: 10px;
}
 .child-2 ul li{
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 18px;
}
.footer-main hr{
  width:900px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 50px;
}
.footer-main footer{
 text-align: center;
 color: rgba(255, 255, 255, 0.5);
 margin-top: 3.5em;
}
/* footer section style ends here */











  










/* responsive design */
@media screen and (max-width:576px) {
  .nav-options{
    display: none;
  }
  .ham-berger{
    display: block;
  }
  .head-name{
    margin: 0 auto;
    padding-left: 2rem;
  }
  .banner{
    height: 96vh;
  }
 .banner-container{
  height: 87vh;
  flex-direction: column;

 }
 .banner-content{
  width: 350px;
  height: 368px;
 }
 .banner-content h1 {
  font-size: 2.6rem;
 }
 .banner-content p{
  width: 35vh;
  font-size: 1.2rem;
 }
 .join-btn{
  width: 164px;
  height: 40px;
 }
 .dwn-btn{
  width: 164px;
  height: 40px;
  margin-left: 10px;
  padding-top: 5px;
  text-align: center;
 
 }
 .banner-right-content{
  width: 40vh;
  height: 41vh;
 }
 .banner-right-content img{
  height: 39.5vh;
  width: 40vh;
  left: 14px;

}
.card-1{
  position:relative;
  left: 13em;
  top: -22em;
}
.card-2{
  position: relative;
  bottom:19em;
  left: 1em;
}
.habbits-container{
  height: 142vh;
 }
.habbits-header{
  height: 150px;
  width: 600px;
  align-items: center;
}
.habbits-header h1{
  font-size: 20px;
  margin-right: 14.5rem;
}
.habbits-header p{
  width:41vh;
  font-size: 13px;
  margin-left: 16px;
}
.habbits-card-container{
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habbits-card-1{
  margin-top: 20px;
}
.run-extra-container{
  height: 510px;
  width:100%;
}
.run-extra-content{
  width:350px ;
  height: 450px;
  display: flex;
  flex-direction: column;

}
.run-extra-left{
  width: 400px;
  height: 340px;
  margin-left: 6em;
}
.run-extra-left h3{
  margin-top: 15px;
  font-size: 2.5rem;
}
.run-extra-left p{
  font-size: 12px;
  width: 325px;
}
.run-extra-left button{
  padding: 12px 122px;
}
.run-extra-right{
  width: 295px;
  height: 185px;
  margin-bottom: 10px;

}
.run-extra-right img{
  height:160px;
  width: 290px;
  position: relative;
  left: 1px;
  bottom: 10px;
}
.bmi-header{
  width: 90%;
}
.bmi-content{
  margin-left: 42px;
}
.bmi-content h3{
  width: 180px;
  font-size: 1.5rem;
}
.bmi-content p{
  width: 290px;
  font-size: 12px;
  line-height: 20px;
}
.main-container{
  height: 442vh;
  width: 410px;

}
.bmi-chart-container{
  /* width: 100%; */
  height: 785px;
  margin-top: 6.8em;
  flex-direction: column;
}
.bmi-chart-left{
  width: 460px;
}
.bmi-chart-left h3{
  width: 240px;
  font-size: 20px;
}
table{
  width: 330px;
}
.bmi-chart-right {
  width: 51vh;
 height: 52vh;
 margin-right: 1em;
}
.bmi-chart-right h3 {
  width: 240px;
  font-size:20px ;
}
.bmi-chart-right p{
  width: 260px;
  font-size: 12px;
}
.bmi-chart-form{
  width: 85px;
  
} 
.bmi-chart-right select>input{
  margin-right: 30px;
}
.team-header h3{
  margin-bottom: 15px;
  margin-left: 10px;
}
.team-header p{
  height: 50px;
  width: 300px;
  margin: 0;
  margin-right: 30px;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 1px;
  
 
}
.team-container{
  height: 1035px;
  width: 310px;
  display: grid;
  grid-template-columns: repeat( 1, 1fr);
}
.team-box{
  display: none;
}
.team-card-3{
  height: 240px;
  margin-left: 15px;
}
.team-card-3 p{
  position: relative;
  top:11em;
}
.team-card-3 h3{
  position: relative;
  top:9em
}
.team-card-2{
  height: 220px;
  margin-top: 0;
  margin-left: 15px;
}
.team-card-2 h3{
  position: relative;
  top:9em;
}
.team-card-2 p{
  position: relative;
  top: 11em
}
.team-card-6{
  margin-top: 0px;
  margin-left: 15px;
}
.footer-main{
  height: 90vh;
  width: 410px;
}
.footer-left-content{
  height: 250px;
  width: 40%;
  margin-left: 10px;
 
 
}
.footer-left-content h3{
  font-size: 2.5rem;
}
.footer-left-content p{
  width: 220px;
  font-size: 10px;
  margin-top: 10px;
}
.footer-content{
  height: 90vh;
  width:400px;
  display: flex;
  flex-direction: column;
}
.footer-right-content{
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin-top: 14em;
  position: absolute;
}
.child-1{
  position: relative;
  left:50px;
  height: 200px;
}
.child-2{
  position: relative;
  left: 70px;
  bottom: 95px;

}
.footer-line{
  display: none;
 
}
.footer{
  height: 20px;
  width: 280px;
  position: relative;
  bottom: 8em;
  left: 55px;
  
}




}